<table class="table" style="width: 60%; margin:0 25% 0% 25%">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Altitude</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Lugar</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of PuntosList">
    <tr>
      <th scope="row">{{item.Id}}</th>
      <th scope="row">{{item.Lat}}</th>
      <th scope="row">{{item.Lon}}</th>
      <th scope="row">{{item.Alt}}</th>
      <th scope="row">{{item.Desc}}</th>
      <a routerLink="Datos" class="btn btn-secondary" (click)="Detalle(item.Id)">Go somewhere</a>
    </tr>
  </tbody>

</table>