<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="../../../../assets/img/leones.jpeg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="../../../../assets/img/leopardo.jpeg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="../../../../assets/img/lince.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="../../../../assets/img/lince_2.jpg" class="img-fluid" alt="image">
            </div>
            
        </div>
    </div>
</body>