<body>
    <section id="banner" style="margin-top: 0em; margin-bottom: 3em;">
      <img src="../../../../assets/img/banner_felino.jpg" class="img-fluid" alt="...">
      
    </section>
  
  <section id="img" style="margin-bottom: 3em;">
    <div class= "container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/tipos_de_tigres.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tigres</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/leopardo.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leopardo</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div> 
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/leones.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leones</h5>
          <p class="card-text">Some quick example text to builddadsa and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div> 
    </div>
  </div>
  </div>
  
  </section> 
  
  <section id="cartas">
    <div class= "container text-center">
   <div class="row">
   <div style="width: 30%; background-color: black;"> 
    <div class="card" style="width: 20rem; background-color: black;">
      
        <div class="card-body">
        
          <img src="../../../../assets/img/lince.jpg" class="card-img-top" alt="...">  
        
      </div>
    </div> 
   </div>
   <div class="col" style="background-color: rgb(255, 255, 255);"> 
    <div class="card" style="width: 90%; background-color: rgb(255, 255, 255);">
      <div class="card-body">
        <h5 class="card-title">Gato montes</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti eligendi tempore nisi, ex autem doloribus dolorem repudiandae libero? Qui adipisci ab, incidunt omnis aperiam explicabo nemo soluta ipsa repellendus?</p>
      
      </div>
    </div> 
   </div>
  
   </div>
   <nav class="navbar navbar-expand-lg bg-body-tertiary"></nav>
   <div class="row">
    <div style="width: 70%; background-color: rgb(255, 255, 255);"> 
     <div class="card" style="width: 90%; background-color: rgb(255, 255, 255);">
  
       <div class="card-body">
         <h5 class="card-title">Lince</h5>
         <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum maxime ratione magnam odio enim natus, illo libero at suscipit quos veritatis voluptatum quod ipsum! Velit ducimus aliquam sed molestiae. Excepturi.</p>
       </div>
     </div> 
    </div>
    <div class="col" style="background-color: black;"> 
     <div class="card" style="width: 16rem; background-color: black;">
       <div class="card-body">
        <img src="../../../../assets/img/lince_2.jpg" class="card-img-top" alt="...">  
       </div>
     </div> 
    </div>
   
    </div>
  </div>
  </section>
  
  </body>